.title {
  font-size: var(--font-size-md);
  font-weight: var(--font-weight-semibold);
  color: var(--color-primary);
  margin-top: var(--spacing-4);
}

.button {
  width: 100%;
  padding: var(--spacing-2) var(--spacing-3);
  font-size: var(--font-size-sm);
  font-weight: var(--font-weight-regular);
  color: var(--color-text);
  transition: var(--transition);
  text-align: left;
}

.button:hover {
  background-color: var(--color-primary-light);
  color: var(--color-primary);
}

.button.selected {
  background-color: var(--color-primary);
  color: var(--color-bg);
  font-weight: var(--font-weight-medium);
}

.button.selected:hover {
  background-color: var(--color-primary-hover);
}
